/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body {
  background-color: #151515;
  color: #E4FDE1;
  margin: 0px;
  font-family: Verdana;
}

/* HEADER SECTION */
header{
  font-family: 'Jersey 25', Verdana;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0B3954;
  padding: 10px;
}
header h1 a{
  color: #E4FDE1;
  text-decoration: none;
}
/* HEADER END */


/* CONTENT SECTION */
section.content-section{
  font-family: 'Kode Mono', Verdana;
}

section.content-section,
footer{
  font-size: 18px;
  padding: 8px;
  margin: 2px 2px;
  text-align: justify;
}
/* CONTENT SECTION END */

/* WAIFU LIST STYLE CONFIG */
.waifu-wiki {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 16px;
}
/* WAIFU LIST STYLE CONFIG END */


footer{
  font-family: 'Protest Revolution', Verdana;
  background-color: #0B3954;
  color: #E4FDE1;
}

a{
  color: #EC058E;
}